@model string

@{
    ViewData["Title"] = "Home";
}

<div class="text-center py-10">
    <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl lg:text-6xl">Welcome!</h1>
</div>
<div class="flex justify-center mt-8">
    <a class="py-4 px-8 bg-indigo-600 hover:bg-indigo-700 text-lg text-white font-semibold rounded-lg shadow-md transition duration-150 ease-in-out" asp-action="DataForm" asp-controller="Obstacle">Register Obstacle</a> <a asp-controller="Obstacle" asp-action="Index" class="btn btn-secondary">View All Obstacles</a>
</div>